
.comments-wrapper { 
    text-align: center;
    width: 100%;
}
.comments-wrapper input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 50%;
    margin:1% 20% 0 20%;
}
.comments-wrapper input:focus {
    outline: none;
    border-bottom: 0.5vh solid blueviolet;
}
::-webkit-input-placeholder {
    text-align: center;
 }
/* .comments-input-wrapper {
    width: 100%;
    height: 15vh;
    justify-content: center;


}
.comments-input {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
} */