
.comments-wrapper { 
    text-align: center;
    width: 100%;
}
.comments-wrapper input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 50%;
    margin:3% 20% 0 20%;
}
.comments-input:focus {
    outline: none;
    border-bottom: 0.5vh solid #3f51b5;
}
::-webkit-input-placeholder {
    text-align: center;
 }
