.render-comments-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    overflow: auto;
    align-items: center;
    margin-top: 6%;
    
}

.render-comments-card {
    display: flex;
    flex-wrap: wrap;
    width: 70vh;
    box-shadow: 0 8px 6px -6px black
}
    


.render-comments-img {
    width: 25%;
}
.render-comments-img img {
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    margin-top: 17%;
    margin-left: 19%;
}
.render-comments-info-wrapper {
    width: 75%;
    height: 100%;
}
.render-comments-info-text-date {
    display: flex;
    height: 65%;
}
.render-comments-info-text-date h4 {
    font-size: 2.2vh;
}
/* .render-comments-info-text-date p {
    font-size: 1.6vh;
} */
.render-comments-info-replies {
    display: flex;
    height: 20%;
}
.render-comments-info-replies p {
    font-size: 1.6vh;
    margin-left: 1.4vh;
    cursor: pointer;
}

/* .t{
    height: 0;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    opacity: 0;
    /* visibility: hidden; */
    /* padding: 10px;
    -webkit-transition: opacity 600ms, height 600ms;
            transition: opacity 600ms, height 600ms; */
/*  */