.render-reply-comments {
    display: flex;
    width: 100%;
    height: 9vh;
    padding: 0 7vh;
}
.render-reply-comments img {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    margin-top: 4%;
}
.render-reply-comments-input {
    margin-top: 2vh;
    margin-left: 4vh;
}